Repository LoicSERRE/Projet-annuel-BUT3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: API, API_build, API_test, webapp, webapp_build, webapp_test, deploy_job

.gitlab-ci.yml:

# ----------------------------------- API Install/Build/Test -----------------------------------

image: node:latest

stages:
  - install
  - build
  - tests
  - deploy

API:
  stage: install
  script:
    - cd API
    - npm update
    - npm uninstall babel
    - npm install --save-dev @babel/cli @babel/core mocha
    - npx babel . -d dist --ignore node_modules
  only:
    changes:
      - API/**/*

API_build:
  stage: build
  script:
    - cd API
    - npm uninstall babel
    - npm install --save-dev @babel/cli @babel/core
    - npx babel . -d dist --ignore node_modules
  only:
    changes:
      - API/**/*

API_test:
  stage: tests
  script:
    - cd API
    - npm install --save-dev mocha
    - npm install --save-dev chai
    - npm test
  only:
    changes:
      - API/**/*


# ----------------------------------- Webapp Install/Build/Test -----------------------------------

webapp:
  stage: install
  script:
    - cd webapp
    - npm install
    - npm install --save react-scripts
  only:
    changes:
      - webapp/**/*

webapp_build:
  stage: build
  script:
    - cd webapp
    - npm uninstall rollup-plugin-terser
    - npm install @rollup/plugin-terser --save-dev
    - npm install react-dom @babel/plugin-proposal-private-property-in-object --save-dev
    - npx react-scripts build
  only:
    changes:
      - webapp/**/*

webapp_test:
  stage: tests
  script:
    - cd webapp
    - npm install --save-dev mocha
    - npm install --save-dev chai
    - npm test
  only:
    changes:
      - webapp/**/*

# ----------------------------------- API and webapp hosting -----------------------------------
before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - 'which rsync || ( apt-get update -y && apt-get install rsync -y )'
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

deploy_job:
  stage: deploy
  script:
    - echo "Connexion au serveur..."
    - ssh -v lolo@next-vertices.com
    - echo "Copie des fichiers du repository vers le serveur..."
    - rsync -avz --delete ./ lolo@next-vertices.com:/home/lolo/sae
    - cd sae
    - echo "Lancement du docker compose..."
    - sudo docker compose up
    - echo "Fin du d√©ploiement."
  rules:
    - changes:
        - "*"
      when: always

CORS Correction
  API/index.js
Due: API, API_build, API_test

CORS Correction
  webapp/.env
Due: webapp, webapp_build, webapp_test

Continuation du diaporama
  Revue de projet/Diapo revue de projet.pptx
Due: none

Quasi finalisation du diapo, plus que quelque détails
  Revue de projet/Diapo revue de projet.pptx
Due: none

Ajout d'un tableau excel pour un meuilleur traitement des données
  Revue de projet/Tableau et graphiques des heures.xlsx
Due: none

Mise à jour du document de suivis de projet
  README.md
Due: deploy_job

Correction CORS
  API/index.js
Due: API, API_build, API_test

CORS Correction
  API/index.js
  webapp/.env
Due: API, API_build, API_test, webapp, webapp_build, webapp_test

Oublie de changement d'IP
  webapp/src/Route/PrivateRoute.js
Due: webapp, webapp_build, webapp_test

Erreur de requête
  webapp/public/robots.txt
  webapp/src/Route/PrivateRoute.js
Due: webapp, webapp_build, webapp_test

Quasi finalisation du diapo
  Revue de projet/Diapo revue de projet.pptx
Due: none

Ajout de détails dans le rapport technique
  Revue de projet/Rapport technique.docx
Due: none

Patch erreur CORS
  API/index.js
Due: API, API_build, API_test

Finalisation du document de suivis de projet
  Revue de projet/Document de suivis de projet.html
  Revue de projet/Document de suivis de projet.pdf
  Revue de projet/Document suivis de projet.pdf
Due: none

Finsalitation du readme pour cette revue
  README.md
Due: deploy_job

Finalisation des données excel pour cette revue
  Revue de projet/Tableau et graphiques des heures.xlsx
Due: none

Finalisation du diaporama
  Revue de projet/Diapo revue de projet.pptx
Due: none

Finalisation du rapport technique
  Revue de projet/Rapport technique.docx
  Revue de projet/Rapport technique.pdf
Due: none

Actualisation des données
  Revue de projet/Tableau et graphiques des heures.xlsx
Due: none

Mise à jour du nombre d'heures
  Revue de projet/Diapo revue de projet.pptx
Due: none

PDF du diapo final
  Revue de projet/Diapo revue de projet.pdf
Due: none

Correction CORS
  API/index.js
  webapp/src/MainPage/MyAccount.js
  webapp/src/MainPage/SideMenu.js
Due: API, API_build, API_test, webapp, webapp_build, webapp_test

CORS correction
  API/index.js
Due: API, API_build, API_test

Rebuild l'image docker à chaque fois
  .gitlab-ci.yml
Due: deploy_job

Rajoute une key unique pour chaque marker
  webapp/src/MainPage/Carto.js
Due: webapp, webapp_build, webapp_test

Correction de la modification d'un user
  API/Controller/UserController.js
Due: API, API_build, API_test

Suppresion ligne inutile
  webapp/src/MainPage/Help.js
Due: webapp, webapp_build, webapp_test

Ajout de la page de paramètre de compte
  webapp/src/MainPage/MyAccount.js
  webapp/src/Style/Account.module.css
  webapp/src/Style/Login.module.css
Due: webapp, webapp_build, webapp_test

Centralisation des liens d'api avec les dotenv
  API/.env
  API/index.js
  webapp/.env
  webapp/src/MainPage/MyAccount.js
  webapp/src/MainPage/SideMenu.js
  webapp/src/Route/PrivateRoute.js
Due: API, API_build, API_test, webapp, webapp_build, webapp_test

Préparation pour la seconde revue de projet
  Revue de projet/Revue de projet 1/Diapo revue de projet.pdf
  Revue de projet/Revue de projet 1/Diapo revue de projet.pptx
  Revue de projet/Revue de projet 1/Document de suivis de projet.html
  Revue de projet/Revue de projet 1/Document de suivis de projet.pdf
  Revue de projet/Revue de projet 1/Rapport technique.docx
  Revue de projet/Revue de projet 1/Rapport technique.pdf
  Revue de projet/Revue de projet 1/Tableau et graphiques des heures.xlsx
  Revue de projet/Revue de projet 2/Rapport technique.docx
Due: none

Finalisation du document de suivis de projet
  README.md
Due: deploy_job

Avancer du rapport technique
  Revue de projet/Revue de projet 2/Rapport technique.docx
Due: none

Avancer du diapo
  Revue de projet/Revue de projet 2/Diapo revue de projet.pptx
Due: none

Finalisation des graphiques des heures
  Revue de projet/Revue de projet 2/Tableau et graphiques des heures.xlsx
Due: none

Correction des endpoints de Postman
  API/test/Test d'intégration PostMan.postman_collection.json
Due: API, API_build, API_test

Retire le dossier .vscode
  .gitignore
Due: deploy_job
