Repository LoicSERRE/Projet-annuel-BUT3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: API, API_build, webapp, webapp_build

API:
  stage: install
  script:
  - cd API
  - npm update
  - npm uninstall babel
  - npm install --save-dev @babel/cli @babel/core mocha
  - npx babel . -d dist --ignore node_modules

API_build:
  stage: build
  script:
  - cd API
  - npm uninstall babel
  - npm install --save-dev @babel/cli @babel/core
  - npx babel . -d dist --ignore node_modules

webapp:
  stage: install
  script:
  - cd webapp
  - npm install
  - npm install --save react-scripts

webapp_build:
  stage: build
  script:
  - cd webapp
  - npm uninstall rollup-plugin-terser
  - npm install @rollup/plugin-terser --save-dev
  - npm install react-dom @babel/plugin-proposal-private-property-in-object --save-dev
  - npx react-scripts build

Modification du docker-compose pour rajouter la documentation de l'application web
  docker-compose.yml
Due: none

Rajout d'une ligne pour préciser que tout le projet est dockeriser
  CONTRIBUTING.md
Due: none

Mise à jour du document de suivis de projet
  README.md
Due: none

Amélioration de l'affichage de la cartographie
  webapp/src/MainPage/Carto.js
Due: webapp, webapp_build

Mise à jour de la documentation
  webapp/doc/docfile/CustomEditControl.html
  webapp/doc/docfile/Login_Login.js.html
  webapp/doc/docfile/Login_useLogin.js.html
  webapp/doc/docfile/MainPage_Carto.js.html
  webapp/doc/docfile/MainPage_CustomEditControl.js.html
  webapp/doc/docfile/MainPage_Help.js.html
  webapp/doc/docfile/MainPage_Information.js.html
  webapp/doc/docfile/MainPage_MainPage.js.html
  webapp/doc/docfile/MainPage_MyAccount.js.html
  webapp/doc/docfile/MainPage_Parameter.js.html
  webapp/doc/docfile/MainPage_SideMenu.js.html
  webapp/doc/docfile/Modal_CreateZoneModal.js.html
  webapp/doc/docfile/Modal_DeleteZoneModal.js.html
  webapp/doc/docfile/Modal_EditZoneModal.js.html
  webapp/doc/docfile/Route_PrivateRoute.js.html
  webapp/doc/docfile/global.html
  webapp/doc/docfile/index.html
  webapp/doc/docfile/index.js.html
  webapp/src/MainPage/Carto.js
Due: webapp, webapp_build

Optimisation du fonctionnement des requêtes http à l'API
  webapp/src/Modal/CreateZoneModal.js
  webapp/src/Modal/DeleteZoneModal.js
  webapp/src/Modal/EditZoneModal.js
Due: webapp, webapp_build

Simplification de la récupération du refresh token
  webapp/src/Login/GetRefreshToken.js
  webapp/src/MainPage/Carto.js
Due: webapp, webapp_build

Test de la page de login
  webapp/package.json
  webapp/src/Test/Login.test.js
  webapp/src/Test/setupTests.js
  webapp/src/Test/useLogin.test.js
Due: webapp, webapp_build

Mise à jour de la documentation de l'application web
  webapp/doc/docfile/CustomEditControl.html
  webapp/doc/docfile/Login_Login.js.html
  webapp/doc/docfile/Login_useLogin.js.html
  webapp/doc/docfile/MainPage_Carto.js.html
  webapp/doc/docfile/MainPage_CustomEditControl.js.html
  webapp/doc/docfile/MainPage_Help.js.html
  webapp/doc/docfile/MainPage_Information.js.html
  webapp/doc/docfile/MainPage_MainPage.js.html
  webapp/doc/docfile/MainPage_MyAccount.js.html
  webapp/doc/docfile/MainPage_Parameter.js.html
  webapp/doc/docfile/MainPage_SideMenu.js.html
  webapp/doc/docfile/Modal_CreateZoneModal.js.html
  webapp/doc/docfile/Modal_DeleteZoneModal.js.html
  webapp/doc/docfile/Modal_EditZoneModal.js.html
  webapp/doc/docfile/Route_PrivateRoute.js.html
  webapp/doc/docfile/global.html
  webapp/doc/docfile/index.html
  webapp/doc/docfile/index.js.html
Due: webapp, webapp_build

Ajout des tests de l'API dans le CI/CD
  .gitlab-ci.yml
Due: none

Test dans le CI/CD
  .gitlab-ci.yml
Due: none

CI/CD
  .gitlab-ci.yml
Due: none

Test de l'application web CI/CD
  .gitlab-ci.yml
Due: none

Test des modales de l'application
  webapp/src/Modal/CreateZoneModal.js
  webapp/src/Modal/DeleteZoneModal.js
  webapp/src/Modal/EditZoneModal.js
  webapp/src/Test/CreateZoneModal.test.js
  webapp/src/Test/DeleteZoneModal.test.js
  webapp/src/Test/EditZoneModal.test.js
Due: webapp, webapp_build

Test pour le menu lattéral
  webapp/package.json
  webapp/src/Test/SideMenu.test.js
Due: webapp, webapp_build

Légère correction de la requête pour ajouter une zones, et des coordonnées afficher
  API/Database/database.sqlite
  webapp/src/MainPage/Carto.js
  webapp/src/Modal/CreateZoneModal.js
Due: API, API_build, webapp, webapp_build

Test copie des fichiers vers le vps
  .gitlab-ci.yml
Due: none

CI/CD pour le lancement du docker compose sur le serveur
  .gitlab-ci.yml
Due: none

Ajout des fichiers pour le rendu et début du powerpoint
  Revue de projet/Diapo revue de projet.pptx
  Revue de projet/Rapport technique.docx
  webapp/.env
Due: webapp, webapp_build

Correction CI/CD
  .gitlab-ci.yml
Due: none

Correctif CI/CD
  .gitlab-ci.yml
Due: none

Rédaction du rapport technique
  Revue de projet/Rapport technique.docx
Due: none

Ajout des documents de suivis de projet dans le dossier des livrables
  Revue de projet/README.html
  Revue de projet/README.pdf
Due: none

Continuation du diapo
  Revue de projet/Diapo revue de projet.pptx
Due: none

Création du document de suivis de projet en pdf et html
  Revue de projet/Document suivis de projet.html
  Revue de projet/Document suivis de projet.pdf
  Revue de projet/README.html
  Revue de projet/README.pdf
Due: none

Path conditions:
  API: any of: API/**/*
  API_build: any of: API/**/*
  webapp: any of: webapp/**/*
  webapp_build: any of: webapp/**/*
