Repository LoicSERRE/Projet-annuel-BUT3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: API, webapp

.gitlab-ci.yml:

image: node:latest

stages:
  - install
  - build
  - test

include:
  - local: '/API/.gitlab-ci.yml'
  - local: '/webapp/.gitlab-ci.yml'

install:
  stage: install
  script:
    - npm install

API:
  stage: build
  script:
    - npm run build
  only:
    changes:
      - API/**/*

webapp:
  stage: test
  script:
    - npm run test
  only:
    changes:
      - webapp/**/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Modification nécéssaire au bon fonctionnement du CI/CD
  .gitignore
  .gitlab-ci.yml
  API/.babelrc
  API/package.json
  webapp/package.json
Due: API, webapp

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  API/.gitlab-ci.yml
  webapp/.gitlab-ci.yml
Due: API, webapp

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  webapp/src/MainPage/Carto.js
Due: webapp

Correctif pour le CI/CD
  webapp/src/MainPage/SideMenu.js
Due: webapp

Début des tests et Update .gitlab-ci.yml file
  .gitlab-ci.yml
  webapp/src/Test/App.test.js
  webapp/src/Test/Login.test.js
Due: webapp

Pour l'instant pas de test pour la webapp
  .gitlab-ci.yml
Due: none

Add CONTRIBUTING
  CONTRIBUTING.md
Due: none

Mise à jour du document de suivis de projet
  README.md
Due: none

Mise en place de l'actualisation de la carto après sa modification
  webapp/src/MainPage/Carto.js
  webapp/src/Modal/CreateZoneModal.js
  webapp/src/Modal/DeleteZoneModal.js
  webapp/src/Modal/EditZoneModal.js
Due: webapp

Dockerisation de l'API et de l'application web
  API/.dockerignore
  API/Controller/RoleController.js
  API/Controller/ZoneController.js
  webapp/.dockerignore
  webapp/sae-webapp.Dockerfile
Due: API, webapp

Mise en place d'un docker compose pour les services
  docker-compose.yml
Due: none

Ajout de la conteneurisation de la documentaion de l'api également
  API/doc/sae-api-doc.Dockerfile
  docker-compose.yml
Due: API

Préparation pour le déploiement dans le CI/CD
  .gitlab-ci.yml
Due: none

Oublie de rajouter le stage deploy
  .gitlab-ci.yml
Due: none

Ajout des permissions sur la cartographie
  API/DAO/UsersDAO.js
  API/DAO/UsersSqliteDAO.js
  API/Path/LoginPath.js
  API/Services/UsersServices.js
  webapp/src/MainPage/CustomEditControl.js
Due: API, webapp

Oublie de bon commentaires
  API/DAO/UsersSqliteDAO.js
  API/Path/LoginPath.js
  webapp/src/MainPage/CustomEditControl.js
Due: API, webapp

Amélioration du style des modales et tu titre de la page principale
  webapp/src/Modal/CreateZoneModal.js
  webapp/src/Modal/DeleteZoneModal.js
  webapp/src/Modal/EditZoneModal.js
  webapp/src/Style/Carto.module.css
  webapp/src/Style/Login.module.css
  webapp/src/Style/SideMenu.module.css
  webapp/src/Style/ZoneModal.module.css
Due: webapp
